= form_for @post, class: 'form-horizontal' do |f|
  .row
    .col.col-lg-12
      %h3= f.label :raw_comment, 'Share Something'
  .row
    .col.col-lg-9
      = f.text_field :raw_comment, placeholder: "Bought anything recently? How much do you think it's worth?"
      %span.help-block Sample : 'I just bought a new #computer it's so cool I think it is worth $500'
    .col.col-lg-3
      = submit_tag "Submit", class: 'btn btn-primary'
  = render 'shared/flash_messages'
