= post.media

.media-body
  .row
    .col-lg-12
      %strong= link_to post.user.email, user_path(post.user)
    .col.col-lg-12= post.parsed_comment
  .row
    .col.col-lg-3
      = link_to "comment", '#'
      |
      = link_to "like", like_post_path(post)
      - if post.user_id.eql?(current_user.id)
        |
        = link_to "delete", post_path(post), method: :delete
