= post.media

.media-body
  .row
    .col-lg-12
      %strong= link_to post.user.email, '#'
    .col.col-lg-12= post.parsed_comment
  .row
    .col.col-lg-3
      = link_to "comment", '#'
      |
      = link_to "like", '#'
      |
      = link_to "delete", post_path(post), method: :delete
